{
  "extends": [ "airbnb" ],
  "env": {
    "es6": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [ "babel" ],
  "rules": {
    "arrow-parens": [2, "as-needed", { "requireForBlockBody": true }],
    "import/prefer-default-export": false,
    "jsx-a11y/anchor-is-valid": false,
    "jsx-a11y/click-events-have-key-events": false,
    "jsx-a11y/label-has-associated-control": false,
    "jsx-a11y/label-has-for": false,
    "jsx-a11y/no-static-element-interactions": false,
    "linebreak-style": 0,
    "no-console": [ "error", { "allow": [ "warn", "error", "info" ] } ],
    "no-plusplus": [ "error", { "allowForLoopAfterthoughts": true } ],
    "react/jsx-one-expression-per-line": false,
    "react/prefer-stateless-function": [ 2, { "ignorePureComponents": true } ],
    "react/prop-types": false,
    "react/require-default-props": false
  }
}
